@page
@model GestionRecursosHumanos.Pages.Empleado.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Empleado.NombreEmpleado" class="control-label"></label>
                <input asp-for="Empleado.NombreEmpleado" class="form-control"/>
                <span asp-validation-for="Empleado.NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.ApellidoEmpleado" class="control-label"></label>
                <input asp-for="Empleado.ApellidoEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.ApellidoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.EmailEmpleado" class="control-label"></label>
                <input asp-for="Empleado.EmailEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.EmailEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.TelefonoEmpleado" class="control-label"></label>
                <input asp-for="Empleado.TelefonoEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.TelefonoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.FechaContratacion" class="control-label"></label>
                <input asp-for="Empleado.FechaContratacion" class="form-control" />
                <span asp-validation-for="Empleado.FechaContratacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.SalarioEmpleado" class="control-label"></label>
                <input asp-for="Empleado.SalarioEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.SalarioEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.IdCargo_fk" class="control-label"></label>
                <input asp-for="Empleado.IdCargo_fk" class="form-control" />
                <span asp-validation-for="Empleado.IdCargo_fk" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Regresar a Lista de Empleados</a>
            </div>
        </form>
    </div>
</div>
