@page
@model GestionRecursosHumanos.Pages.Cargo.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Cargos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Cargo.TituloCargo" class="control-label"></label>
                <input asp-for="Cargo.TituloCargo" class="form-control" />
                <span asp-validation-for="Cargo.TituloCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo.DescripcionCargos" class="control-label"></label>
                <input asp-for="Cargo.DescripcionCargos" class="form-control" />
                <span asp-validation-for="Cargo.DescripcionCargos" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to Cargos list</a>
            </div>
        </form>
    </div>
</div>