html {
  font-size: 14px;
  font-family:'Source Code Pro';
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Source Code Pro';
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
h1 {
    color: #020f59;
}
body {
    
    color: black;
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina el margen por defecto */
    font-family: 'Source Code Pro';
    
}
/* GestionRecursosHumanos.styles.css */
nav.navbar {
    background: linear-gradient(135deg, #1c31a5, #101f78, #020f59);
    color: white;
    font-family: 'Source Code Pro';
}

    nav.navbar a.nav-link,
    nav.navbar a.navbar-brand {
        color: white !important;
        font-family: 'Source Code Pro';
    }

footer.footer {
    background: linear-gradient(#1c31a5, #101f78, #020f59);
    color: white;
    font-family: 'Source Code Pro';
}

    footer.footer a {
        color: white;
        font-family:'Source Code Pro';
    }










