@page
@model GestionRecursosHumanos.Pages.Beneficio.CreateModel
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Beneficios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Beneficio.DescripcionBeneficio" class="control-label"></label>
                <input asp-for="Beneficio.DescripcionBeneficio" class="form-control" />
                <span asp-validation-for="Beneficio.DescripcionBeneficio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficio.CostoEmpresa" class="control-label"></label>
                <input asp-for="Beneficio.CostoEmpresa" class="form-control" />
                <span asp-validation-for="Beneficio.CostoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficio.CostoEmpleado" class="control-label"></label>
                <input asp-for="Beneficio.CostoEmpleado" class="form-control" />
                <span asp-validation-for="Beneficio.CostoEmpleado" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Regresar a Lista de Beneficios</a>
            </div>
        </form>
    </div>
</div>