@page
@model GestionRecursosHumanos.Pages.Beneficio.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Beneficio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Beneficio.IdBeneficio" />

            <div class="form-group">
                <label asp-for="Beneficio.DescripcionBeneficio" class="control-label"></label>
                <input asp-for="Beneficio.DescripcionBeneficio" class="form-control"></input>
                <span asp-validation-for="Beneficio.DescripcionBeneficio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Beneficio.CostoEmpresa" class="control-label"></label>
                <input asp-for="Beneficio.CostoEmpresa" class="form-control"></input>
                <span asp-validation-for="Beneficio.CostoEmpresa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Beneficio.CostoEmpleado" class="control-label"></label>
                <input asp-for="Beneficio.CostoEmpleado" class="form-control"></input>
                <span asp-validation-for="Beneficio.CostoEmpleado" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary"> Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
